# eigene Konfiguration gehört nicht ins Haupt-Git:
config.h
# config.example.h muss im git bleiben, damit man ein Beispiel hat!

# Sicherungskopien:
*.kate-swp
*~

# Einzelne Dateien und Ordner
INTERNA
DCF Wetter.txt


# Atmel-Kompilat:
.dep/
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
